.container {
  background: linear-gradient(180deg, #020024, #4b4b9a 35%, #fff);
  height: 80vh;
}

.count-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.add-counter-button,
.counter-show-addition {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  cursor: pointer;
}

.counter-container {
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.counter-list {
  margin-right: 1%;
  margin-top: 4%;
}